html {
    background-color: #586499;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding: 0;
    margin: 0;
    background-color: #202341;
}

h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 2.2rem;
}

header {
    height: 8rem;
    width: 100%;
    background-color: #5CD6FE;
    block-size: 0%;
    margin: 0px;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 0px;
}

hr{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

header>p {
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 1.1rem;
}

main>article>h2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

main>article>img {
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
}

main>article>p {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.1rem;
}

a:link {
    color: #5CD6FE;
}
a:visited {
    color: #FE40FF;
}
a:hover {
    color: #57AAF4;
}

ul {
    
    margin-left: 25%;
    margin-right: 25%;
    width: fit-content;
    text-align: left;
    padding: 5px;
    font-size: 1.1rem;
}

ol {
    margin: auto;
    width: fit-content;
    text-align: left;
    padding: 5px;
    font-size: 1.1rem;
}

ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
}

ol>li {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: #57AAF4;
    margin: 0;
}

footer>div>p {
    padding-top: 1.8rem;
}

.center-text {
    text-align: center;
}

.electric-blue{
    color: #5CD6FE;
}

.dark-blue {
    color: #202341;
}

.about-me>p {
    padding-top: 5px;
    padding-bottom: 5px;
}
.about-me>h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact-me>p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-me>h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.map {
    height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}